<div class="well">
<ul>
<li><a href="/gestion/usuarios">Gestionar usuarios</a></li><br>
<li><a href="/gestion/grabaciones">Gestionar grabaciones</a></li><br>
<li><a href="/gestion/asistencia">Ver solicitudes de asistencia</a></li>
</ul>
</div>