<div class="white-writing">
<div id="description">
SGPR es un servicio de grabación de programas de radios españolas. Nuestro objetivo es que las personas que no pueden escuchar sus programas puedan solicitar grabaciones
de esos programas y posteriormente escucharlos en directo en nuestra página o descargarlos desde la misma.<br><br>
</div>
<div id="content">
Los usuarios que desean solicitar grabaciones, deberán crear una cuenta en SGPR y se les concederá un crédito de 20 grabaciones. Si tiene suficientes créditos, un usuario puede <a href="/grabar">solitar una grabación</a> de un máximo de 60 minutos y <a href="/grabaciones">consultar su estado</a>. Las radioos que se pueden grabar son las siguientes:
<ul>
<li>Radio Nacional Española</li>
<li>Radio Clásica</li>
<li>Cadena 100</li>
<li>Cadena Ser</li>
<li>Los 40 Principales</li>
<li>Cope</li>
</ul><br><br>
Las grabaciones se pueden editar o cancelar. En caso de hacerlo antes del inicio de la grabación, el usuario puede recuperar su crédito. Llegado el tiempo de grabación, ya no se podrá ni editar ni cancelar la grabación. Posteriormente se pueden borrar las grabaciones con el fin de tener más espacio y poder solicitar unas con más duración.<br><br><br>
Hay varias formas de obtener créditos extra:<br>
<ul>
<li>Compartir a darle a me gusta a <a href="https://www.facebook.com/pages/SGPRadioLink/617947718337107?ref=aymt_homepage_panel" target="_blank">nuestra página de Facebook</a>: 10 créditos.</li>
<li>Recomendar nuestra página a un amigo: 5 créditos.</li>
<li>Sugerir nuevas funciones a la página <a href="/uso/contactar?subject=Sugerencia">aquí</a>: 10 hasta 50 créditos.</li>
<li>Informar de un error <a href="/uso/contactar?subject=Informo de un error">aquí</a>: 5 créditos.</li>
</ul><br><br>
</div>
<div id="footer">
Para acabar, darte las gracias por usar nuestro servicio y recordar que puedes contactar con nosotros para cualquier duda en este <a href="/uso/contactar">enlace</a><br><br>
</div>
</div>