<div class="well" style="left: -5px;">
<h3><u>Condiciones de uso del Servicio de de Grabación de Programas de Radio:</u></h3>

<p>Te damos la bienvenida al Servicio de Grabación de Programas de Radio</p>

<p>Te agradecemos que uses el Servicio de Grabación de programas de radio que se proporciona a través de la página web del Servicio de Grabación de Programas de Radio (en adelante, «SGPR»).

<p>El uso de nuestros Servicio implica la aceptación de estas condiciones. Te recomendamos que las leas detenidamente.</p>

<p>1.Debes seguir las políticas disponibles a través de los Servicios.</p>

<p>2.No debes usar nuestro Servicio de forma inadecuada. Por ejemplo, no debes interferir con dicho Servicio ni intentar acceder a ellos usando un método distinto a la interfaz. Podemos suspender o cancelar nuestro Servicio si no cumples con nuestras políticas o condiciones o si consideramos que tu conducta puede ser malintencionada.</p>

<p>3.El uso de nuestros Servicio no te convierte en titular de ninguno de los derechos de propiedad intelectual de los mismos ni del contenido al que accedas. Solo podrás usar el contenido de nuestro Servicio si te autoriza su titular o si está permitido por la ley. Estas condiciones no te otorgan el derecho a usar las marcas ni los logotipos utilizados en nuestro Servicio.</p>

<p>3.Nuestro servicio muestran contenido que pertecene a SGPR. Podemos revisar el contenido para determinar si es ilegal o infringe nuestras políticas, y eliminarlo o negarnos a publicarlo si tenemos razones suficientes para considerar que infringe nuestras políticas o la ley. Sin embargo, esta posibilidad no implica necesariamente que revisemos el contenido, por lo que no debes dar por sentado que vayamos a hacerlo.</p>

<p>5.Nuestro Servicio está disponible en dispositivos móviles. No utilices ese Servicio de un modo que pueda distraerte y que te impida cumplir las leyes de tráfico o de seguridad.</p>

<h4><u>Tu cuenta de SGPR</u></h4>

<p>Es posible que necesites una cuenta de SGPR para utilizar nuestro Servicio. Puedes crear tu propia cuenta de SGPR o puede serte asignada por un administrador, la empresa para la que trabajas o una institución educativa. Si usas una cuenta de SGPR asignada por un administrador, puede que se te apliquen términos distintos o adicionales, y tu administrador podrá acceder a tu cuenta o inhabilitarla.</p>

<p>Eres responsable de la actividad que se desarrolle en tu cuenta de SGPR o a través de ella. Intenta no reutilizar la contraseña de tu cuenta de SGPR o viceversa en aplicaciones de terceros.</p>

<p>Las <a href="/uso/privacidad">políticas de privacidad</a> de SGPR explican el tratamiento de los datos personales y la protección de la privacidad al usar nuestros Servicios. Si usas nuestros servicios, aceptas que SGPR use dichos datos de conformidad con sus políticas de privacidad.</P>

<P>Respondemos a las notificaciones de presuntas infracciones de los derechos de autor y cancelamos las cuentas de los usuarios que cometen infracciones reiteradas de acuerdo con el proceso establecido en la ley de protección de los derechos de autor y de la propiedad intelectual (Real Decreto Legislativo 1/1996).</P>
</div>