<div class="well" style="left: -5px;">
<h3><u>Políticas de privacidad del Servicio de de Grabación de Programas de Radio:</u></h3>

<p>Al registrarte en SGPR y usar nuestro servicio, y al ser éste gratuito, nos reservamos el derecho de utilizar los datos proporcionados por los usuarios para fines publicitarios.</p>

<p>La proporción intencional de datos personales incorrectos nos otorga el derecho de cancelar nuestro servicio y/o cerrar la cuenta de SGPR</p>
</div>