<h2 class="title well-info">Recuperar cuenta</h2>
<div class="well">
<form method='POST' action='/login/contrasena_olvidada'>

  <div class="form-group">
    <label for="login">Introduce tu email:</label><br/>
  <div class="input-group">   
    <input type="text" id="email" name="email" class="form-control"/>
  </div>
  <br>
  <div class="input-group">
    <input type="submit" id="submit" value="Enviar" class="btn btn-custom"/>
  </div>
  <br>
 </div> 

</form>
</div>
